/* Imports inject a @fontface definition in the script -- it can be referenced for runtime consumption  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=geist@400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&: is(.dark *));
/* Test @animations for classes -- pot false */

/* useTheme will need a default of light/dark */

/* Overall scrollbar track */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* background */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

/* the draggable part */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    hsl(236, 85%, 52%),
    hsl(297, 100%, 48%)
  );
  border-radius: 10px;
  border: 3px solid transparent; /* spacing effect */
  background-clip: content-box;
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Remove arrows (legacy) */
::-webkit-scrollbar-button {
  display: none;
}

.light {
  --border: rgba(51, 51, 51, 1);
  --input: rgba(51, 51, 51, 1);
  --ring: rgba(29, 98, 237, 1);
  --background: rgba(20, 20, 20, 1);
  --background-2: rgb(30, 23, 29);
  --foreground: rgba(240, 240, 240, 1);
  --primary: rgba(29, 98, 237, 1);
  --primary-foreground: rgba(250, 250, 250, 1);
  --secondary: rgba(76, 131, 240, 1);
  --secondary-foreground: rgba(255, 255, 255, 1);
  --tertiary: rgba(182, 66, 240, 1);
  --tertiary-foreground: rgba(252, 252, 252, 1);
  --neutral: rgba(20, 20, 20, 1);
  --neutral-foreground: rgba(240, 240, 240, 1);
  --success: rgba(115, 115, 115, 1);
  --warning: rgba(255, 198, 26, 1);
  --destructive: rgba(239, 67, 67, 1);
  --destructive-foreground: rgba(250, 250, 250, 1);
  --muted: rgba(51, 51, 51, 1);
  --muted-foreground: rgba(178, 178, 178, 1);
  --accent: rgba(51, 51, 51, 1);
  --accent-foreground: rgba(250, 250, 250, 1);
  --popover: rgba(31, 31, 31, 1);
  --popover-foreground: rgba(240, 240, 240, 1);
  --card: rgba(31, 31, 31, 1);
  --card-foreground: rgba(240, 240, 240, 1);
}

.dark {
  --border: rgba(51, 51, 51, 1);
  --input: rgba(51, 51, 51, 1);
  --ring: rgba(29, 98, 237, 1);
  --background: rgba(20, 20, 20, 1);
  --background-2: rgb(30, 23, 29);
  --foreground: rgba(240, 240, 240, 1);
  --primary: rgba(29, 98, 237, 1);
  --primary-foreground: rgba(250, 250, 250, 1);
  --secondary: rgba(76, 131, 240, 1);
  --secondary-foreground: rgba(255, 255, 255, 1);
  --tertiary: rgba(182, 66, 240, 1);
  --tertiary-foreground: rgba(252, 252, 252, 1);
  --neutral: rgba(20, 20, 20, 1);
  --neutral-foreground: rgba(240, 240, 240, 1);
  --success: rgba(115, 115, 115, 1);
  --warning: rgba(255, 198, 26, 1);
  --destructive: rgba(239, 67, 67, 1);
  --destructive-foreground: rgba(250, 250, 250, 1);
  --muted: rgba(51, 51, 51, 1);
  --muted-foreground: rgba(178, 178, 178, 1);
  --accent: rgba(51, 51, 51, 1);
  --accent-foreground: rgba(250, 250, 250, 1);
  --popover: rgba(31, 31, 31, 1);
  --popover-foreground: rgba(240, 240, 240, 1);
  --card: rgba(31, 31, 31, 1);
  --card-foreground: rgba(240, 240, 240, 1);
}

@theme inline {
  /* fonts */
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-noto-sans: "Noto Sans", sans-serif;

  /* colors */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-neutral: var(--neutral);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* sizes */
  --rounded-sm: 4px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
    font-family: var(--font-noto-sans);
  }
}

@layer utilities {
  @keyframes accordion-down {
    from {
      height: "0";
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes neon-pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }

  @keyframes neon-pulse-colors {
    0%,
    100% {
      opacity: 1;
      background-color: hsl(220, 85%, 52%);
      box-shadow: 0 0 20px hsl(280, 85%, 65%);
    }
    50% {
      opacity: 0.7;
      background-color: hsl(280, 85%, 65%);
      box-shadow: 0 0 20px hsl(220, 85%, 52%);
    }
  }

  @keyframes neon-glow-pulse {
    0%,
    100% {
      box-shadow: 0 0 20px hsl(220, 85%, 52%);
    }
    50% {
      box-shadow: 0 0 30px hsl(220, 85%, 52%);
    }
  }

  @keyframes icon-bounce {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, -30);
    }
    70% {
      transform: translate(0, 20);
    }
  }

  /* @keyframes ping */

  .animate-accordion-down {
    animation: neon-pulse 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: neon-pulse 0.2s ease-out;
  }
  .animate-neon-pulse {
    animation: neon-pulse 2s ease-in-out infinite;
  }
  .animate-neon-pulse-colors {
    animation: neon-pulse-colors 2s ease-in-out infinite;
  }
  .animate-neon-glow-pulse {
    animation: neon-glow-pulse 2s cubic-bezier(0, 0, 0.2, 1) 1s infinite
      alternate;
  }
  .animate-icon-bounce {
    animation: icon-bounce 2s cubic-bezier(0.28, 0.84, 0.42, 1) 1;
  }

  .bg-gradient-1 {
    background-image: linear-gradient(
      135deg,
      hsl(200, 90%, 55%),
      hsl(280, 85%, 65%)
    );
  }
  .bg-gradient-2 {
    background-image: linear-gradient(
      135deg,
      hsl(170, 95%, 55%),
      hsl(220, 85%, 60%)
    );
  }
  .bg-button-border-gradient {
    background-image: linear-gradient(
      90deg,
      hsl(200, 90%, 55%),
      hsl(280, 85%, 65%)
    );
  }

  .text-gradient-1 {
    background: linear-gradient(135deg, hsl(200, 90%, 55%), hsl(280, 85%, 65%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .text-gradient-2 {
    background: linear-gradient(135deg, hsl(170, 95%, 55%), hsl(220, 85%, 60%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .neon-glow {
    box-shadow: 0 0 20px hsla(220, 85%, 52%, 0.5);
  }

  .neon-glow-2 {
    box-shadow: 0 5 10px hsl(249, 92%, 10%);
  }
  .neon-glow-2:hover {
    box-shadow: 0 5 10px hsl(303, 92%, 10%);
  }

  .neon-glow-hover:hover {
    box-shadow: 0 0 30px hsla(220, 85%, 52%, 0.7);
  }

  /* .bg-gradient-3 {
    background-color: linear-gradient(
      to bottom,
      var(--background) 95%,
      var(--background-2) 100%
    );
  } */
}
